bfos_graybody,h1,h2,p,ul,ol,form,input,textarea,select,td,th,dl,dd,dt,div,li,span,a,p {margin: 0; padding: 0;}
li {list-style: none;}
* {transition: color .3s, background .3s; -webkit-transition: color .3s, background .3s; box-sizing: border-box;}
a {text-decoration: none;}
body {font-size: 14px; font-family: MicrosoftYaHei; word-break: break-all; color: #000; background-color:#fff;}

/*顶部样式*/
.header{width: 100%; min-width: 1220px; height: 50px;line-height: 50px; background-color: #000; filter:Alpha(opacity=70); /*position: fixed; top: 0; left: 0;*/ z-index: 9;}
.header .info{width: 1220px; margin: auto; position:relative;}
.header .logo{line-height: 26px; margin-top:12px; float: left !important;}
.header .logo img{width: 28px;height:28px; }
.header .link ul{margin-bottom: 0; float: left !important;}
.header .link ul li{float: left; font-size: 14px; margin-left: 40px; position: relative;}
.header .link ul li a{height: 50px; padding: 0 15px; color: #fff; text-decoration: none; display: block;}
.header .link ul li a:hover{color: #959595;}
.header .link ul li a.selected{color: #fff; /*background-color:#128EF9;*/ border-bottom: 2px solid #fff;height: 45px;}
.header .link ul li .fff{color: #fff;padding-left: 5px;padding-right: 5px;}
.header .link ul li .fixed_nva{background-color: rgba(23,27,42,1)!important;background-color: #000; position: absolute; top: 47px; left: 0; z-index: 1; display: none;}
.header .link ul li .fixed_nva a{width: 84px; height: 40px; line-height: 40px; padding: 0 14px; text-align: center;}
.header .link ul li.fixed_li:hover .fixed_nva{display: block;}


.nav-content-right{width: 250px; float: right !important;/*margin-right:115px;*/margin-right:87px;}
.nav-content-right .show_search{float: left;}
.nav-content-right input[type=text]{width: 180px; height:25px; margin-left: 5px; border:0; font-size: 14px; float: left;}
.nav-content-right input[type=text]:focus {outline: none;}
.nav-content-right input[type=button]{ color:#fff; font-size:16px; float:right; border:0; width:30px; height:25px; cursor:pointer; background: url(../img/search_iocn.png) no-repeat center; }
.nav-content-right input[type=button]:focus {outline: none;}
.nav-content-right .faq-search{width: 220px; margin-top: 36px; border:1px solid #ccc; -webkit-border-radius: 10px; position: relative; float: left;}

.nav-content-right .faq-like .top-mg-ul{list-style:none;font-size:14px; text-decoration:none;margin-left:130px;}
.nav-content-right .faq-like .top-mg-ul li{font-size: 14px; float:left; }
.nav-content-right .faq-like .top-mg-ul li a:hover,.top-msg a:hover{ color:#128EF9; }
.nav-content-right .faq-like .top-login a{display:block; text-align:center; line-height:50px; width:40px; color:#fff; cursor:pointer;}
.nav-content-right .faq-like .top-register a{display:block; text-align:center; line-height:50px; width:40px;color:#fff; cursor:pointer;}
.nav-content-right .faq-like .top-register a:hover,.top-login a:hover{color:#128EF9;}
.nav-content-right .faq-like .top-order{ display:none;}
.nav-content-right .faq-like .top-mg-user{margin: 0 10px; list-style:none;font-size:14px; text-decoration:none; display: none;margin-left:100px;}
.nav-content-right .faq-like .top-mg-user li{ line-height: 50px; font-size: 14px; float:left; }
.nav-content-right .faq-like .top-user{text-align:center; cursor:pointer;}
.nav-content-right .faq-like .top-mg-user li img{width: 24px; margin-right: 10px; vertical-align: middle;}
.nav-content-right .faq-like .top-mg-user li a{ color: #fff;}
.nav-content-right .faq-like .top-mg-user li .jt{width: 19px; height: 19px; float: right; margin-top: 15px; margin-left: 5px; background: url(../img/top-jt-b.png); position: relative;}
.nav-content-right .faq-like .top-mg-user li .jt .out_login{width: 80px; padding-top: 5px; background-color:#000;color:#fff; position: absolute; top: 20px; left: -30px; cursor: pointer; display: none;}
.nav-content-right .faq-like .top-mg-user li .jt:hover .out_login{display: block;}
/*.nav-content-right .faq-like .top-mg-user li .jt .out_login:hover{background-color:#f2f2f2;}*/

.nav-content-right .faq-like .top-mg-cart{list-style:none; text-decoration:none; float: right;}
.nav-content-right .faq-like .top-mg-cart li{line-height: 50px; cursor: pointer; position: relative;}
.nav-content-right .faq-like .top-mg-cart img{vertical-align: middle;margin-top:-4px;}
.nav-content-right .faq-like .top-mg-cart li .user_cart_number{ display: none; width: 20px; line-height: 20px; color: #fff; font-size:12px; text-align:center; background: url(../img/cart_number.png) no-repeat center; background-size: 20px 20px; position:absolute; top: 10px; right: -10px;}

.header .top-language {position:absolute;right:0px;}
.header .top-language .language-box{color:#fff;font-size:14px;}
.header .top-language:hover dl.down-menu{display: block;}
.header .top-language .down-menu{position: absolute;display: none;top: 50px;right:-3px;line-height: 20px;padding: 5px 0;box-shadow: 0 2px 4px rgba(0,0,0,.12);border: 1px solid #d2d2d2;background-color: #fff;z-index: 100;border-radius: 5px;white-space: nowrap;}
.header .top-language .down-menu a {display: block;padding: 0 10px;transition: all .3s;-webkit-transition: all .3s;}

/*底部样式*/
.footer{width: 100%; min-width: 1220px; background: #000000;height:220px;overflow: hidden;}
.footer .contact{ width: 900px; margin: auto;overflow:hidden; }
.footer .contact ul.contact_text{ width: 50%;margin-top:30px;float:left;}
.footer .contact ul.contact_text li {line-height: 30px;}
.footer .contact ul.contact_text li a {color: #969696;font-size: 14px;margin-left:5px;}
.footer .contact ul.contact_text li.t {font-size: 14px;color: #fff;line-height:40px;margin-left:21px;}
.footer .contact .contact_img {float: right;margin-top:43px;}
.footer .contact ul.contact_img li {width: 130px;display: inline-table;text-align: center;}
.footer .contact ul.contact_img li .inblock {width: 85px;}
.footer .contact ul.contact_img li .text {margin-top: 8px;font-size: 14px;color: #969696;}
.footer .copy_text {margin: 20px auto auto auto;text-align: center;}
.footer .copy_text .text {font-size: 14px;color:#646464;}


/*返回顶部按钮*/
.btn-top{position:fixed;bottom:10%;right:5px;z-index:999; cursor: pointer;}
.btn-top img{width: 100px;}

/*首页*/
.index {width:100%;min-width:1220px; margin: auto; }
.index .black_bfos{width:100%;min-width:1220px; background-color:#141517; color:#fff;}
.index .black_bfos .bfos_grey1{ text-align:center;font-size:26px;font-weight:bold; padding-top: 48px;color:white}
.index .black_bfos .bfos_grey2{ text-align:center;font-size:26px;font-weight:bold; padding-top: 28px;color:#eee;margin-bottom: 10px}
.index .black_bfos .bfos_title{ text-align:center;font-size:18px;font-weight:bold; padding-top: 15px;color:#ccc}
.index .black_bfos .bfos_info{ text-align:center;font-size:18px;font-weight:bold;color:#bbb;width:100%;margin-top: 10px;}
.index .black_bfos .bfos_desc{text-align:center;margin-top:22px;}
.index .black_bfos .bfos_desc ul{display:inline-block;}
.index .black_bfos .bfos_desc ul li{float:left;font-size:16px;padding: 0px 15px; }
.index .black_bfos .bfos_desc ul li+li{border-left:1px solid #fff; }
.index .black_bfos .bfos_buy{text-align:center;margin-top:20px;}
.index .black_bfos .bfos_buy .bttn{display:inline-block;width:100px;height:36px;line-height:36px;border-radius:4px;border:1px solid #fff;font-size:16px;color:#fff;cursor:pointer;}
.index .black_bfos .bfos_buy .bttn:hover{color:#000;background:#fff;}
.index .black_bfos .bfos_pic{text-align:center;}
.index .black_bfos .bfos_pic img{width: 520px;}

.index .black_ms{width:100%;min-width:1220px;}
.index .black_ms .ms_title{ text-align:center;font-size:26px;font-weight:bold;margin-top:48px;}
.index .black_ms .ms_info{ text-align:center;font-size:18px;font-weight:bold;color:#666;width:100%;margin-top: 7px;}
.index .black_ms .ms_desc{text-align:center;margin-top:17px;}
.index .black_ms .ms_desc ul{display:inline-block;}
.index .black_ms .ms_desc ul li{float:left;font-size:16px;padding: 0px 15px; }
.index .black_ms .ms_desc ul li+li{border-left:1px solid #000000; }
.index .black_ms .ms_buy{text-align:center;margin-top:20px;}
.index .black_ms .ms_buy .bttn{display:inline-block;width:100px;height:36px;line-height:36px;border-radius:4px;border:1px solid #0094f3;font-size:16px;color:#0094f3;cursor:pointer;}
.index .black_ms .ms_buy .bttn:hover{color:#fff;background:#0094f3;}
.index .black_ms .ms_pic{text-align:center;margin-top:18px;margin-bottom: 30px;}
/*<!--.index .black_ms .ms_pic img{border-radius:50%;}-->*/

.index .black_introduce{width:100%;min-width:1220px;overflow:hidden;position:relative; background-color:#141517;}
.index .black_introduce .box_img{margin-top: 210px;}
.index .black_introduce .black_introduce_box{width: 100%; margin:0 auto;position:absolute;top:0}
.index .black_introduce .black_introduce_box .introduce_title{ text-align:center;font-size:26px;font-weight:bold;color:#fff;width:100%;margin-top: 40px;}
.index .black_introduce .black_introduce_box .introduce_info{ text-align:center;font-size:19px;color:#fff;text-shadow:2px 2px 3px #faff72;width:100%;margin-top: 6px;}
.index .black_introduce .black_introduce_box .introduce_desc{text-align:center;width:100%;margin-top: 25px;}
.index .black_introduce .black_introduce_box .introduce_desc ul{display:inline-block;}
.index .black_introduce .black_introduce_box .introduce_desc ul li{float:left;font-size:16px;padding: 0px 15px;color:#fff; }
.index .black_introduce .black_introduce_box .introduce_desc ul li+li{border-left:1px solid #fff;}
.index .black_introduce .black_introduce_box .introduce_buy{text-align:center;width:100%;margin-top: 25px;}
.index .black_introduce .black_introduce_box .introduce_buy .bttn{display:inline-block;width:100px;height:36px;line-height:36px;border-radius:4px;border:1px solid #fff;font-size:16px;color:#fff;cursor:pointer;}
.index .black_introduce .black_introduce_box .introduce_buy .bttn:hover{background:#fff;color:#000;}

.black_news{width:100%;min-width:1220px;background:#F5F5F5;padding-bottom: 50px;padding-top: 50px;}
.black_news ul{margin:auto;width:900px;overflow:hidden;padding-bottom:20px; font-size:20px;}
.black_news ul li {margin-top:15px;float:left;font-size:16px;}
.black_news ul li.marginleft{margin-left:60px;}
.black_news ul li:hover {box-shadow: 0px 10px 10px #dfdfdf;}
.black_news ul li p{width:260px;padding:10px;background:#fff;height:60px;}
.black_news ul li a{color:cornflowerblue}
.black_news .more{text-align: center;height: 70px;width: 70px;line-height: 70px;margin: 0 auto;display: block;border: 1px solid #646464;border-radius: 50%;margin-top: 30px;color: #646464;cursor:pointer;}


/*算力*/
.introduce{width: 100%; height: 65px; background: #FFFFFF; box-shadow: 0 2px 4px 0 rgba(0,0,0,0.11);}
.introduce .info_put{width: 1220px; line-height: 65px; margin: auto; overflow: hidden;}
.introduce .info_put .title{font-size: 14px; color: #333333; float: left;}
.introduce .info_put .a-li{float: right;}
.introduce .info_put .a-li a{font-size: 14px; color: #333333;}
.introduce .info_put .a-li a+a{margin-left: 20px;}
.introduce .info_put .a-li a:hover{color: #128EF9;}

.calculation{width: 1220px; margin: 25px auto; overflow: hidden;}
.calculation .describe{}
.calculation .describe .describe_img{width: 400px; float: left;position:relative;}
.calculation .describe .describe_img .txt_img{width: 100%; height: 100%;}
.calculation .describe .describe_img .select_top{position: absolute;left: 27px;top: 408px;}
.calculation .describe .describe_img ul {margin-top:15px;}
.calculation .describe .describe_img ul li{float:left;cursor:pointer;}
.calculation .describe .describe_img ul li+li{margin-left:15px;}
/*.calculation .describe .describe_img ul li img:hover{border:2px solid #000;}*/
.calculation .describe .describe_info{width: 560px; margin-left: 50px; float: left;}
.calculation .describe .describe_info .txt_title{line-height: 40px; font-size: 24px; color: #1B1B1B;}
.calculation .describe .describe_info .txt_describe{line-height: 30px; color: #999999;}
.calculation .describe .describe_info .time_l{padding: 0 10px; line-height: 32px; /*margin-top: 30px;*/ background-color:#128EF9; color: #FFFFFF; overflow: hidden;}
.calculation .describe .describe_info .time_l .r_t{float: left;}
.calculation .describe .describe_info .time_l .r_li{float: right;}
.calculation .describe .describe_info .time_l .r_li span{padding: 3px 4px; margin: 0 3px; background-color:#443B3B; color:#fff; border-radius: 4px;}
.calculation .describe .describe_info .t_price{line-height: 30px; padding: 10px 25px; background-color:#F3F3F3; overflow: hidden;}
.calculation .describe .describe_info .t_price .price{font-size: 12px;}
.calculation .describe .describe_info .t_price .price .span{font-size: 14px; color: #151515;}
.calculation .describe .describe_info .t_price .price .t_lt{font-size: 12px; color: #727272; width: 60px; display: block; float: left;}
.calculation .describe .describe_info .t_price .price .o_price_text{text-decoration:line-through;}

.calculation .describe .describe_info .t_type{ line-height: 36px; margin-top: 20px; padding: 0 25px; overflow: hidden;color:#727272;}
.calculation .describe .describe_info .t_type .t_lt{font-size: 12px; color: #727272; width: 80px; display: block; float: left;}
.calculation .describe .describe_info .t_type .t_select{display:block;width:150px;height:40px;float:left;color:#000;font-weight:bold;text-align:center;background:url(../img/select_new.png) no-repeat center;cursor:pointer;background-size:150px 40px;border:none;}

.calculation .describe .describe_info .t_number{ line-height: 36px; margin-top: 20px; padding: 0 25px; overflow: hidden;}
.calculation .describe .describe_info .t_number .t_lt{font-size: 12px; color: #727272; width: 80px; display: block; float: left;}
.calculation .describe .describe_info .t_number .number{width: 60px; height: 36px; font-size: 16px; border: 1px solid #E4E4E4; background-color:#f3f3f3; position: relative; float: left;}
.calculation .describe .describe_info .gw_num{width: 110px;line-height: 26px;overflow: hidden;float:left;margin-top:3px;}
.calculation .describe .describe_info .gw_num em{display: block;height: 26px;width: 26px;float: left;color: #7A7979;text-align: center;cursor: pointer;background-color:#D2D2D2;}
.calculation .describe .describe_info .gw_num .num{display: block;float: left;text-align: center;width: 58px;font-style: normal;font-size: 14px;line-height: 24px;border:0;border-top: 1px solid #D2D2D2;border-bottom: 1px solid #D2D2D2;}
.calculation .describe .describe_info .gw_num em.add{float: right;border-right: 0;}
.calculation .describe .describe_info .t_number .t_misit{margin-left: 30px; font-size: 14px; display: inline-flex; color: #969696; float: left;}
.calculation .describe .describe_info .t_total{line-height: 30px; margin-top: 20px; padding: 10px 25px; font-size: 18px; color:#FF3431; overflow: hidden;}
.calculation .describe .describe_info .t_total .t_lt{font-size: 12px; color: #727272; width: 80px; display: block; float: left;}
.calculation .describe .describe_info .t_check{line-height: 30px; padding: 10px 25px; font-size: 12px; color:#999; overflow: hidden;}
.calculation .describe .describe_info .t_check .t_lt{ font-size: 12px; color: #727272; width: 80px; display: block; float: left;}
.calculation .describe .describe_info .t_check a{color:#999;}
.calculation .describe .describe_info .t_subbttn{ margin-top: 14px;}
.calculation .describe .describe_info .t_subbttn .bttn{width: 200px; height: 50px; line-height: 50px; text-align: center; display: block; font-size: 16px; color:#fff; background-color:#000000;cursor: pointer;}
.calculation .describe .describe_info .t_subbttn .no_bttn{width: 200px; line-height: 50px; text-align: center; display: block; font-size: 16px; color:#fff; background-color:#d7d7d7;cursor: pointer;}

.calculation .describe .describe_other{width: 190px; margin-left: 20px; float: left;border-left:1px solid #E6E6E6;height:485px;}
.calculation .describe .describe_other .o_title1{padding-bottom: 10px;text-align:center;font-size:14px;color:#969696;}
.calculation .describe .describe_other .o_img{text-align:center;}
.calculation .describe .describe_other .o_title2{line-height:40px;height:40px;text-align:center;font-size:14px;color:#000000;}

.calculation_info{width: 1220px; margin-top: 30px; padding:0px 0 30px 0; background-color:#fff; overflow: hidden;}
.calculation_info .title{width: 1220px; line-height: 50px; margin: 20px auto auto auto; font-size: 18px; color:#333;}
.calculation_info .content{width: 1220px; margin: auto; padding:10px 15px; line-height: 30px; background-color:#fff;}
.calculation_info .content .li{line-height: 25px; color:#999; font-size:12px;}

/*底部悬浮购买框*/
.fixed_purchase{width: 100%; min-width: 1220px; line-height: 70px; font-size: 18px; background-color: #fff; position: fixed; bottom: 0px; left: 0; display: none;}
.fixed_purchase .goods_name{width: 35%; text-align: center; float: left;}
.fixed_purchase .goods_number{width: 15%; text-align: left; float: left;}
.fixed_purchase .goods_total{padding: 0 30px; text-align: center; float: right;}
.fixed_purchase .goods_total .bttn{padding: 12px 35px; margin-left: 25px; text-align: center; font-size: 16px; color:#fff; background-color:#128EF9;border-radius: 5px; cursor: pointer;}

/*ipfs*/
.ipfs {width:1220px; margin: 25px auto 60px auto;}
.ipfs .ipfs_entries{background-color:#fff; overflow: hidden;}
.ipfs .ipfs_entries .left{width: 920px; float: left;}
.ipfs .ipfs_entries .left .article_list .list li{overflow: hidden;}
.ipfs .ipfs_entries .left .article_list .list li+li{padding-top: 40px;}
.ipfs .ipfs_entries .left .article_list .list li:hover{ background-color:#f2f2f2;}
.ipfs .ipfs_entries .left .article_list .list li .sl{display: block; width: 100%; height: 100%;}
.ipfs .ipfs_entries .left .article_list .list li .pull-left{float: left !important;}  
.ipfs .ipfs_entries .left .article_list .list li .pull-left .article_img{width: 280px; height: 170px;}
.ipfs .ipfs_entries .left .article_list .list li .art{width: 640px; font-size: 18px; padding-left: 25px;}
.ipfs .ipfs_entries .left .article_list .list li .art h4{line-height: 30px; margin-top: 0; color: #3A4058; margin-bottom: 20px; font-size: 18px;}
.ipfs .ipfs_entries .left .article_list .list li .art .con{height: 75px; color: #999; line-height: 25px; margin-bottom: 20px; font-size: 14px; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 3; overflow: hidden;}
.ipfs .ipfs_entries .left .article_list .list li .art .user{color: #999; font-size: 14px;}
.ipfs .ipfs_entries .right{width: 280px; margin-left:20px; float: left;}
.ipfs .ipfs_entries .right .list a{display: block;}
.ipfs .ipfs_entries .right .list a+a{display: block; margin-top: 15px;}
.ipfs .ipfs_entries .right .list .advertisement_img{width: 280px; height: 280px;}

/*新闻详情*/
.ipfs_info{width: 1220px; margin: 35px auto 55px auto; background-color:#fff; padding: 30px 20px;}
.ipfs_info .article .title{width: 100%; text-align: center; font-size: 32px; color: #333;}
.ipfs_info .article .text{width: 100%; line-height: 28px; margin: 30px auto auto auto; padding: 15px 0; font-size: 14px; color: #333; border-top: 1px solid #d7d7d7; border-bottom: 1px solid #d7d7d7; overflow: hidden; position: relative;}
.ipfs_info .article .text .t_time{margin-right: 10px; color: #939393; vertical-align: middle; float: left;}
.ipfs_info .article .text .t_share{float: right;}
.ipfs_info .article .text .t_share .more-share{ line-height: 24px; font-size: 14px;  padding-left:0; float: left; background: initial;}
.ipfs_info .article .text .t_share .more-share img{ margin-right: 5px; vertical-align: middle;}
.ipfs_info .article .text .t_share:hover .more-share-hover{display: block;}
.ipfs_info .article .text .t_share .more-share-hover{display: block;}
.ipfs_info .article .text .t_share .more-share-hover .share-item-icon{width: 30px; height: 30px; margin: 0; padding: 0 20px; display: block; float: left;}
.ipfs_info .article .text .t_share .more-share-hover .weixin-share{background: url(../img/weixin-share.png) no-repeat center;}
.ipfs_info .article .text .t_share .more-share-hover .xinlang-share{background: url(../img/xinlang-share.png) no-repeat center;}
.ipfs_info .article .text .t_share .more-share-hover .qq-share{background: url(../img/qq-share.png) no-repeat center;}
.ipfs_info .article .text .t_share .more-share-hover .tqq-share{background: url(../img/tqq-share.png) no-repeat center;}
.ipfs_info .article .content{padding: 30px 0; color: #666; font-size: 12px; line-height: 25px; overflow: hidden;}

/*---------最新推荐---------*/
.ipfs_info .groom_article{width:100%; margin-bottom: 60px; padding-top: 84px; overflow: hidden;}
.ipfs_info .groom_article .groom_title{ color: #333; font-size: 18px;}
.ipfs_info .groom_article .groom_list{margin-top: 15px; padding-top: 15px; border-top:1px solid #D7D7D7;}
.ipfs_info .groom_article .groom_list li{width: 366px;  height: 200px; overflow: hidden; float: left; border-radius: 5px; position: relative;}
.ipfs_info .groom_article .groom_list li+li{margin-left: 40px;}
.ipfs_info .groom_article .groom_list li img{width: 100%; height: 200px; transition: all 0.6s;}
.ipfs_info .groom_article .groom_list li:hover img{ transform: scale(1.1);}
.ipfs_info .groom_article .groom_list li a.text{text-align: center;}
.ipfs_info .groom_article .groom_list li a.text{width: 100%;height: 46px; padding: 0 20px; background-color: rgba(36,36,36,0.6); font-size: 16px; color: #FFFFFF; position: absolute; top: 154px; left: 0; line-height: 46px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}


/*我的收益*/
.profit {width:100%; min-width:1220px; padding-bottom: 50px; background-color:#f3f3f3;}
.profit .title{width:1220px; margin: auto; line-height: 35px; font-size: 12px; color: #666666;}
.profit .title a{color: #666666;}
.profit .profit_info{width:1220px; margin: auto; padding: 30px 60px; background-color:#fff; overflow: hidden;}
.profit .profit_info .list{line-height: 25px; overflow: hidden;}
.profit .profit_info .list+.list{margin-top: 20px;}
.profit .profit_info .list .name{overflow: hidden;}
.profit .profit_info .list .name span{ font-size: 20px; color:#666; float: left;}
.profit .profit_info .list .name a{color:#666; float: right;}
.profit .profit_info .list .info_list{ margin-top: 25px; overflow: hidden;}
.profit .profit_info .list .info_list .li{width: 326px; height: 90px; padding:5px 15px; float: left; list-style: none; margin-right: 60px; margin-bottom: 50px; background-color:#128EF9; color:#fff; border-radius: 5px;}
.profit .profit_info .list .info_list .li:nth-child(3n){margin-right: 0;}
.profit .profit_info .list .info_list .li .li_n{line-height: 30px; text-align: left;}
.profit .profit_info .list .info_list .li .li_v{font-size: 30px; text-align: center;}


/*个人中心*/
.personal {width:100%; min-width:1220px; padding-bottom: 50px; background-color:#f3f3f3;}
.personal .title{width:1220px; margin: auto; line-height: 35px; font-size: 12px; color: #666666;}
.personal .title a{color: #666666;}
.personal .personal_info{width:1220px; margin: auto; overflow: hidden;}
.personal .personal_info .left{width: 250px; padding: 20px 30px; background-color:#fff; float: left;}
.personal .personal_info .left .title{margin: 0; font-size: 16px; color:#333;}
.personal .personal_info .left .info_list{margin-top: 20px; overflow: hidden;}
.personal .personal_info .left .info_list .li{line-height: 35px;}
.personal .personal_info .left .info_list .li a{display: block; color:#151515;}
.personal .personal_info .left .info_list .li a:hover{color: #128EF9;}
.personal .personal_info .left .info_list .li.onselected a{color: #128EF9;}
.personal .personal_info .right{width: 940px; padding: 20px 30px 50px 30px; margin-left: 25px; background-color:#fff; float: left;}
.personal .personal_info .right .title{line-height: 68px; margin: 0; font-size: 30px; color:#666;}
.personal .personal_info .right .subtitle{line-height: 58px; margin: 0; font-size: 16px; color:#666; border-bottom: 1px solid #d7d7d7;}
.personal .personal_info .right .prompt{ line-height: 25px; color:Red; margin-bottom: 20px;}
.personal .personal_info .right .info_list{overflow: hidden;}
.personal .personal_info .right .info_list .li{line-height: 75px; border-bottom: 1px solid #d7d7d7; overflow: hidden;}
.personal .personal_info .right .info_list .li .icon{width: 24px; margin-top: 29px; float: left;}
.personal .personal_info .right .info_list .li .name{margin-left: 20px; font-size: 16px; color:#333; vertical-align: middle;}
.personal .personal_info .right .info_list .li .edit{width: 20px; vertical-align: middle;}
.personal .personal_info .right .info_list .li .bttn{width: 100px; height: 38px; line-height: 38px; margin-top: 20px; text-align: center; border: 1px solid #d7d7d7; border-radius: 5px; cursor: pointer; float: right;}
.personal .personal_info .right .info_list .li .bttn:hover{background-color:#128EF9; color:#fff; border: 1px solid #128EF9;}
.personal .personal_info .right .info_list .li .address{margin-left: 20px; padding: 15px 0; float: left;}
.personal .personal_info .right .info_list .li .address .t_n{line-height: 20px; font-size: 16px;}
.personal .personal_info .right .info_list .li .address .t_x{width: 600px; line-height: 30px; color:#999; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden;}

.personal .personal_info .right .info_list .li .list{width:125px; float: left;}
.personal .personal_info .right .info_list .li .list.two{width:755px; float: right;}
.personal .personal_info .right .info_list .li .two+.two{line-height: 45px;}
.personal .personal_info .right .info_list .li .two+.two .bttn{ margin-top: 5px;}

.personal .personal_info .right .insert_addresse{padding: 10px 0 10px 20px;}
.personal .personal_info .right .insert_addresse a{color: #128EF9; cursor: pointer;}

/*我的订单*/
.personal .personal_info .right .order_info{padding: 20px 25px; background-color:#128EF9; color:#fff; border-radius: 5px;}
.personal .personal_info .right .order_info .o_tl{ line-height: 30px;}
.personal .personal_info .right .order_info .o_inf{margin-top: 10px;}
.personal .personal_info .right .order_info .o_inf .val_l{font-size: 36px;}
.personal .personal_info .right .order_info .o_inf .val_t{margin-left: 20px; font-size: 20px; vertical-align: top;}
.personal .personal_info .right .order_info .o_inf .val_t .totalNumber{margin-left: 20px; font-size: 20px; vertical-align: top;}
.personal .personal_info .right .order_info .o_inf .icon{margin-left: 20px; margin-top: 4px; vertical-align: top;}
.personal .personal_info .right .order_info .o_inf .val_i{position: relative; cursor: pointer;}
.personal .personal_info .right .order_info .o_inf .output{width: 120px; padding: 5px 5px 10px 5px; display: none; text-align: left; color:#128EF9; background: url(../img/b1_02.png) no-repeat; background-size: 100% 100%; position: absolute; top: -55px; left: 15px;}
.personal .personal_info .right .order_info .o_inf .val_i:hover .output{display: block;}
.personal .personal_info .right .record_title{ line-height: 58px; margin-top: 30px; font-size: 16px; color:#666;}
.personal .personal_info .right .record_title span{float: right; color:red; font-size: 14px;}
.personal .personal_info .right .order_list{width: 100%; text-align: center; border:none; border-radius: 5px; overflow: hidden;}
.personal .personal_info .right .order_list tr{height: 45px;}
.personal .personal_info .right .order_list tr td{border:none; }
.personal .personal_info .right .order_list .tou{color: #333; background-color:#F6F6F6;}
.personal .personal_info .right .order_list .li td{color: #666666; border-bottom: 1px solid #d7d7d7;}

/*购物车*/
.cart {width:100%; min-width:1220px; padding-bottom: 50px; background-color:#f3f3f3;}
.cart .title{width:1220px; margin: auto; line-height: 35px; font-size: 12px; color: #666666;}
.cart .title a{color: #666666;}
.cart .cart_info{width: 1220px; margin: auto; padding: 20px 30px 50px 30px; background-color:#fff;}
.cart .cart_info .title{line-height: 68px; margin: 0; font-size: 30px; color:#666;}
.cart .cart_info .subtitle{line-height: 58px; margin: 0; font-size: 16px; color:#666; border-bottom: 1px solid #d7d7d7;}
.cart .cart_info .prompt{ line-height: 25px; color:Red; margin-bottom: 20px;}
.cart .cart_info .info_list{overflow: hidden;}
.cart .cart_info .info_list .li{line-height: 75px; border-bottom: 1px solid #d7d7d7; overflow: hidden;}
.cart .cart_info .info_list .li .icon{width: 24px; margin-top: 29px; float: left;}
.cart .cart_info .info_list .li .name{margin-left: 20px; font-size: 16px; color:#333; vertical-align: middle;}
.cart .cart_info .info_list .li .edit{width: 20px; vertical-align: middle;}
.cart .cart_info .info_list .li .bttn{width: 100px; height: 38px; line-height: 38px; margin-top: 20px; text-align: center; border: 1px solid #d7d7d7; border-radius: 5px; cursor: pointer; float: right;}
.cart .cart_info .info_list .li .bttn:hover{background-color:#128EF9; color:#fff; border: 1px solid #128EF9;}
.cart .cart_info .info_list .li .address{margin-left: 20px; padding: 15px 0; float: left;}
.cart .cart_info .info_list .li .address .t_n{line-height: 20px; font-size: 16px;}
.cart .cart_info .info_list .li .address .t_x{width: 600px; line-height: 30px; color:#999; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden;}
.cart .cart_info .order_info{padding: 20px 25px; background-color:#128EF9; color:#fff; border-radius: 5px;}
.cart .cart_info .order_info .o_tl{ line-height: 30px;}
.cart .cart_info .record_title{ line-height: 58px; margin-top: 30px; font-size: 16px; color:#666;}
.cart .cart_info .record_title span{float: right; color:red; font-size: 14px;}
.cart .cart_info .order_list{width: 100%; margin-bottom: 40px; text-align: center; border:none; border-radius: 5px; overflow: hidden;}
.cart .cart_info .order_list tr{height: 45px;}
.cart .cart_info .order_list tr td{border:none; }
.cart .cart_info .order_list .tou{color: #333; background-color:#F6F6F6;}
.cart .cart_info .order_list .li td{color: #666666; border-bottom: 1px solid #d7d7d7;}
.cart .cart_info .order_list .address td{padding-left:25px; text-align: left; color: #666666; border-bottom: 1px solid #d7d7d7;}
.cart .cart_info .order_list .address td a{padding-left: 40px; color: #128EF9; cursor: pointer;}
.cart .cart_btn{margin: 10px 0; text-align: center;}
.cart .cart_btn .completion{ padding: 8px 20px; font-size: 16px; color:#fff; background-color:#128EF9; border-radius: 5px; cursor: pointer;}
.cart .cart_btn .returns{padding: 8px 20px; margin-left: 25px; font-size: 16px; border: 1px solid #d7d7d7; border-radius: 5px; cursor: pointer;}

.address_list{ max-height: 250px; margin: 20px auto auto auto; text-align:center; overflow: hidden; overflow-y: auto; position: relative;}
.address_list .list{height: 35px; line-height:35px; padding: 0 15px; text-align: left; cursor: pointer;}
.address_list .list:hover{ background-color:#f2f2f2;}
.address_list .list div{width: 99%; overflow: hidden; text-overflow:ellipsis; white-space: nowrap;}


/*登录、注册弹窗*/
.theme-popover-mask{z-index:10000;position:absolute;left:0;top:0;width:100%;height:100%;background:#000;opacity:0.5;filter:alpha(opacity=50);-moz-opacity:0.5;display:none;}
.theme-popover{z-index:999999; position:fixed; top:50%;left:50%; width:400px; padding-bottom: 30px; margin:-180px 0 0 -200px; background-color:#000; display:none; box-shadow:0 0 10px #666;background:#fff;border-radius: 20px;}
.theme-popover .theme-poptit{position:relative; top:0; left:0; height:37px;  padding:6px; border-top-left-radius: 10px; border-top-right-radius: 10px;}
.theme-popover .theme-poptit span{font-size:14px; color: #000;float: left; margin-top: 3px; margin-left: 10px;}
.theme-popover .theme-poptit .close img{float:right; width: 25px; }
.theme-popover .theme-popbod .theme-signin{text-align:left;font-size: 14px;}
.theme-popover .theme-signin .login_contain .logo{margin-bottom: 30px; text-align: center;}
.theme-popover .theme-signin .login_contain  .input{margin: 20px auto auto auto; text-align:center; overflow: hidden; position: relative;}
.theme-popover .theme-signin .login_contain  .input input{width: 85%; height: 40px; line-height: 40px; padding-left: 10px; font-size: 14px; color: #949494;border: 1px solid #d6d6d6; -webkit-border-radius: 5px; }
.theme-popover .theme-signin .login_contain  .input input.get_code{width: 120px; height: 35px; line-height: 35px; padding-left: 0px; border-radius: 0 8px 8px 0px; border: 0; border-left: 1px solid #d6d6d6; background-color: #fff; color: #29AAE3; position: absolute; top: 3px; right: 8%; cursor: pointer;}
.theme-popover .theme-signin .login_contain  .input input.get_code_not{color: #128EF9; cursor: inherit;}
.theme-popover .theme-signin .login_contain  .input img{position: absolute; top: 13px; left: 20px;}
.theme-popover .theme-signin .login_contain .login_btn{margin-top: 30px; text-align: center;}
.theme-popover .theme-signin .login_contain .login_btn input{width: 85%; height: 40px; background-color: #128EF9; border-radius: 5px;line-height: 40px; font-size: 14px; color: #FFFFFF; border: 0; cursor: pointer;}
.theme-popover .theme-signin .login_contain .input input[type=text]:focus {outline: none;}
.theme-popover .theme-signin .login_contain .input input[type=button]:focus {outline: none;}
.theme-popover .theme-signin .login_contain .tishi{ padding: 10px 0 0 0; color: #CCCCCC; text-align: center;}
.theme-popover .theme-signin .login_contain .forgetpwd{width: 85%; margin: 10px auto auto auto; text-align: center; position: relative;}
.theme-popover .theme-signin .login_contain .forgetpwd a{ height: 40px; border: 1px solid #128EF9; border-radius: 5px; line-height: 40px; font-size: 14px; color: #128EF9; display: block; cursor: pointer;}

/*修改个人信息弹窗*/
.modify-popover-mask{z-index:10000;position:absolute;left:0;top:0;width:100%;height:100%;background:#000;opacity:0.5;filter:alpha(opacity=50);-moz-opacity:0.5;display: none;}
.modify-popover{z-index:999999; position:fixed; top:50%;left:50%; width:400px; padding-bottom: 30px; margin:-180px 0 0 -200px; background-color:#000; display:none; box-shadow:0 0 10px #666;background:#fff;border-radius: 20px;}
.modify-popover .modify-poptit{position:relative; top:0; left:0; height:37px;  padding:6px; border-top-left-radius: 10px; border-top-right-radius: 10px;}
.modify-popover .modify-poptit .close img{float:right; width: 25px; }
.modify-popover .modify-popbod .title{ font-size: 20px; margin: 10px 0; text-align: center;}
.modify-popover .modify_contain .input{margin: 20px auto auto auto; text-align:center; overflow: hidden; position: relative;}
.modify-popover .modify_contain .input input{width: 85%; height: 40px; line-height: 40px; padding-left: 10px; font-size: 14px; color: #949494;border: 1px solid #d6d6d6; -webkit-border-radius: 5px; }
.modify-popover .modify_contain .input input.get_code{width: 120px; height: 35px; line-height: 35px; padding-left: 0px; border-radius: 0 8px 8px 0px; border: 0; border-left: 1px solid #d6d6d6; background-color: #fff; color: #29AAE3; position: absolute; top: 3px; right: 8%; cursor: pointer;}
.modify-popover .modify_contain .input input.get_code_not{color: #c2c2c2; cursor: inherit;}
.modify-popover .modify_contain .input img{position: absolute; top: 13px; left: 20px;}
.modify-popover .modify_contain .on_btn{margin-top: 30px; text-align: center;}
.modify-popover .modify_contain .on_btn input{width: 40%; height: 40px; background-color: #fff; border: 1px solid #d6d6d6; border-radius: 5px;line-height: 40px; font-size: 14px; color: #333; cursor: pointer;}
.modify-popover .modify_contain .on_btn input+input{width: 40%; height: 40px; margin-left: 20px; background-color: #29AAE3; border-radius: 5px;line-height: 40px; font-size: 14px; color: #FFFFFF; border: 1px solid #29AAE3; cursor: pointer;}
.modify-popover .modify_contain .input input[type=text]:focus {outline: none;}
.modify-popover .modify_contain .input input[type=button]:focus {outline: none;}



.datagrid-mask {position: absolute; left: 0;top: 0;width: 100%;height: 100%;opacity: 0.3;filter: alpha(opacity=30);display: none;}
.datagrid-mask-msg {position: absolute;top: 50%;margin-top: -20px;padding: 10px 5px 10px 30px;width: auto;height: 40px;border-width: 2px;border-style: solid;display: none;}
.datagrid-mask-msg {background: #ffffff url('../Img/loading.gif') no-repeat scroll 5px center;}
.datagrid-mask {background: #ccc;}
.datagrid-mask-msg {border-color: #D4D4D4;}


/*关于我们*/
.about{width: 1220px; margin: 60px auto;}
.about .title{ text-align: center; font-size: 24px;}
.about .text{ line-height:35px;margin:auto; margin-top:57px; font-size: 14px;width:694px;}

/*APP下载*/
.downloadbanner{width: 100%; min-width: 800px; position: relative;}
.downloadbanner img{width: 100%;}
.downloadbanner .explain{width: 100%; position: absolute; bottom: 0; left: 0;}
.downloadbanner .explain .info{width: 846px; margin: auto; color: #fff; text-align: left; font-size: 14px;}
.downloadbanner .explain .info .text{line-height: 30px;}
.downloadbanner .explain .info .text+.text{margin-top: 30px;}

.downloadbox{width: 846px; margin: auto auto 0px auto; background-color: #000; overflow: hidden;}
.downloadbox .left{float: left;}
.downloadbox .right{float: right;}
.downloadbox .types{width: 320px; text-align: center; overflow: hidden;}
.downloadbox .types .title{padding: 55px 0; color: #fff; font-size: 24px; font-family:SourceHanSansCN-Heavy; font-weight:500;}
.downloadbox .types .phone{text-align: center;}
.downloadbox .types .phone img{width: 199px;}
.downloadbox .types .query_btn{width: 220px; line-height: 36px; margin: 9px auto 0 auto; color: #fff; border: 1px solid #fff; border-radius: 4px; display: block; cursor: pointer;}
.downloadbox .types .text{width: 296px; height: 104px; line-height: 30px; margin: 25px auto 0 auto; color: #969696; text-align: left;}
.downloadbox .types .download_type{margin: 109px auto 0 auto; vertical-align: middle; }
.downloadbox .types .download_type img{width: 33px; margin-right: 8px; vertical-align: middle;}
.downloadbox .types .download_type span{color: #fff; font-size: 24px; font-family: SourceHanSansCN-Heavy; vertical-align: middle;}
.downloadbox .types .code{width: 120px; margin-top: 51px;}
.downloadbox .types .explain{width: 296px; line-height: 30px; margin: 49px auto 0 auto; color: #fff; text-align: left;}

/*客户端下载*/
.clientdownload{width: 100%; min-width: 1220px;}
.clientdownload .clientbanner{width: 100%; padding: 171px 0 100px 0; background-color: #000; text-align: center;}
.clientdownload .clientbanner img{width: 1220px;}

.clientdownload .clientbox{width: 1220px; margin: auto; padding: 80px 0 150px 0; background-color: #fff;}
.clientdownload .clientbox .bfc_logo{width: 100%; text-align: center;}
.clientdownload .clientbox .bfc_logo img{width: 280px;}
.clientdownload .clientbox .bfc_text{margin-top: 68px; text-align: center; color: #000; font-size: 16px;}
.clientdownload .clientbox .bfc_text span{font-family:PingFang-SC-Bold;font-weight:600;}
.clientdownload .clientbox .bfc_title{margin-top: 68px; text-align: center; color: #000; font-size: 32px;font-family:SourceHanSansCN-Heavy; font-weight:800;-webkit-text-stroke:undefined rgba(0,0,0,0.9);text-stroke:undefined rgba(0,0,0,0.9);background:linear-gradient(0deg,rgba(0,0,0,1) 0%, rgba(65,65,65,1) 100%);-webkit-background-clip:text;-webkit-text-fill-color:transparent;}
.clientdownload .clientbox ul{width: 980px; margin: 40px auto auto auto; overflow: hidden;}
.clientdownload .clientbox ul li{width: 286px; height: 200px; padding: 40px 0; margin-right: 40px; margin-bottom: 30px; background:rgba(255,255,255,1);box-shadow:4px 4px 21px 1px rgba(0,0,0,0.08);-webkit-transition: all .3s ease; transition: all .3s ease; opacity: 1; text-align: center; float: left;}
.clientdownload .clientbox ul li:nth-child(3),.clientdownload .clientbox ul li:nth-child(6){margin-right: 0;}
.clientdownload .clientbox ul li:hover{-webkit-box-shadow: 0 10px 10px rgba(0,0,0,.3); box-shadow: 0 10px 10px rgba(0,0,0,.3); -webkit-transform: translate3d(0,-2px,0); transform: translate3d(0,-2px,0);}
.clientdownload .clientbox ul li img{width: 41px;}
.clientdownload .clientbox ul li .text{margin-top: 25px; font-size: 12px; color: #367BF7;}
.clientdownload .clientbox .bfc_btn{margin-top: 65px; text-align: center;}
.clientdownload .clientbox .bfc_btn a{padding: 17px 70px; color: #fff; font-size: 14px; background-color: #000; background:rgba(0,0,0,1); border-radius:4px; cursor: pointer;}
.clientdownload .clientbox .bfc_btn a+a{margin-left: 110px;}